In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv("heart_data.csv")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [21]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [22]:
df1 = df.pop('target')

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df1, test_size=0.2)

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [25]:
from sklearn.feature_selection import RFE
rfe = RFE(estimator = rf, n_features_to_select =3, step=1, verbose=2)

In [26]:
rfe.fit(x_train, y_train)

Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.
Fitting estimator with 4 features.

RFE(estimator=RandomForestClassifier(), n_features_to_select=3, verbose=2)

In [27]:
y_pred = rfe.fit(x_train, y_train).predict(x_test)

Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Fitting estimator with 8 features.
Fitting estimator with 7 features.
Fitting estimator with 6 features.
Fitting estimator with 5 features.
Fitting estimator with 4 features.

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6721311475409836

In [29]:
from sklearn.feature_selection import RFECV
rfecv=RFECV(estimator=RandomForestClassifier(),min_features_to_select=5,step=7,n_jobs=-1,scoring="r2",cv=7,verbose=9)

In [30]:
rfecv.fit(x_train,y_train)

RFECV(cv=7, estimator=RandomForestClassifier(), min_features_to_select=5,
      n_jobs=-1, scoring='r2', step=7, verbose=9)

In [31]:
xnew_train_cv = rfecv.transform(x_train)
xnew_test_cv = rfecv.transform(x_test)

In [32]:
rf2 = RandomForestClassifier()

In [33]:
rf2.fit(xnew_train_cv,y_train)

RandomForestClassifier()

In [34]:
accuracy_score(y_test,rf2.predict(xnew_test_cv))

0.8688524590163934

In [ ]:
import pickle
pickle.dump(sfs,open('model.pkl','wb'))